[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  patch = !git -P diff

[pull]
  ff = only
; [merge]
;   ff = only
  # I pretty much never mean to do a real merge, since I use a rebase workflow.
  # Note: this global option applies to all merges, including those done during a git pull
  # https://git-scm.com/docs/git-config#git-config-mergeff
  # https://gist.github.com/scottnonnenberg/fefa3f65fdb3715d25882f3023b31c29

  conflictstyle = zdiff3
  # Standard diff is two sets of final changes. This introduces the original text before each side's changes.
  # https://git-scm.com/docs/git-config#git-config-mergeconflictStyle

[push]
  autoSetupRemote = true
  default = simple
  # "push the current branch back to the branch whose changes are usually integrated into the current branch"
  # "refuse to push if the upstream branch’s name is different from the local one"
  # https://git-scm.com/docs/git-config#git-config-pushdefault
  # https://gist.github.com/scottnonnenberg/fefa3f65fdb3715d25882f3023b31c29

[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[transfer]
  fsckobjects = true
  # To combat repository corruption!
  # Note: this global option applies during receive and transmit
  # https://git-scm.com/docs/git-config#git-config-transferfsckObjects
  # via https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0

[commit]
  verbose = true
  # This adds the whole commit diff in the text editor where you’re writing
  # your commit message, to help you remember what you were doing.

[diff]
  algorithm = histogram

[branch]
  sort = -committerdate
  # Makes git branch sort by most recently used branches instead of
  # alphabetical, to make it easier to find branches.

[core]
  pager = delta

[delta]
  syntax-theme = base16
  commit-style                  = bold yellow
  file-style                    = bright-yellow
  hunk-header-style             = bold syntax
  minus-style                   = bold red
  minus-non-emph-style          = bold red
  minus-emph-style              = bold red 52
  minus-empty-line-marker-style = normal "#3f0001"
  zero-style                    = normal
  plus-style                    = bold green
  plus-non-emph-style           = bold green
  plus-emph-style               = bold green 22
  plus-empty-line-marker-style  = normal "#002800"
  whitespace-error-style        = reverse magenta

[log]
  date = iso
  # Display dates as 2023-05-25 13:54:51 instead of Thu May 25 13:54:51 2023

[interactive]
  diffFilter = delta --color-only

# rewrites of repo paths
[url "git@github.com:"]
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
  required = true

# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.config/git/github.inc

[init]
	defaultBranch = main
